*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
#top1{
    width: 100%;
    text-align: right;
    padding-right: 20px;
    background-color: #f8f8f8;
}
#top1>a>img{
    width: 13px;
    justify-content: end;
}
#top1>a{
    text-decoration: none;
    color: #666;
}
/* ----------------------top1--------------------------- */
#navbar>div>a>img{
    width: 120px;
    justify-content: center;
    margin-top: 10px;
}

#navbag>a{
    text-decoration: none;
    color: #f8f8f8;
    font-size: 25px;
}
#navbar{
    background-color: #2d2d2d;
    /* border: 2px solid red; */
    height: 60px;
    margin: auto;
    align-content: center;
}
#navbag{
    width: 100%;
    height: 100%;
    /* border: 2px solid white; */
    text-align: center;
    margin: auto;
    justify-content: space-between;
}
#navbag>input{
    width: 30%;
    /* border: 2px solid red; */
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 20px;
    border-radius: 20px;
}

#nav2{
    /* border: 1px solid red; */
    width: 100%;
    height: 40px;
    /* display: block; */
    display: flex;
    flex-wrap: wrap;
    /* margin: auto; */
    background-color: #525050;
}
#nav2>#nav2a{
    /* border: 2px solid wheat; */
    margin: auto;
}
#nav2>#nav2a>button{
    border: none;
    font-size: 15px;
    font-family: sans-serif;
    background: none;
    color: #FFFFFF;
}
#nav2>#nav2a>#red{
    /* border: 2px solid whitesmoke; */
    height: 40px;
    background-color:#d01345;
    transform: skew(-12deg);
}
#globann{
    /* border: 1px solid; */
    display: flex;
}
#globann>#left{
    width: 100%;
    background-color: black;
    color: #FFFFFF;
    text-align: center;
}
#globann>#rigt{
    width: 100%;
    text-align: center;
}
/* ---------------------------navbar--------------------------------------- */
#hero{
    background-image: url("https://content.asos-media.com/-/media/homepages/unisex/generic-hp/jan-2023/generic-hp/generic-hp-desktop-unisex-1400x698.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
#hero>#hero_holder{
    width: 90%;
    height: 800px;
    margin: auto;
}
#hero>#hero_holder>div{
    color: #FFFFFF;
    padding-top: 25%;
}
#hero>#hero_holder>div>div{
    /* width: fit-content; */
    margin: auto;
    /* border: 2px solid wheat; */
    color: #000;
}
#hero>#hero_holder>div>div>h1{
    background-color: #eeeeee;
    padding: 10px;
    font-size: 45px;
    width: fit-content;
    margin: 0px auto;
}
#hero>#hero_holder>div>div>p{
    /* border: 2px solid; */
    width: fit-content;
    margin: auto;
    padding: 10px;
    background-color: #eeeeee;
}
#hero>#hero_holder>div>a>button{
    border: none;
    font-size: 16px;
    font-weight: 550;
    padding: 10px;
    margin: 15px;
}
#hero>#hero_holder>div>a>button:hover{
    background-color: #090909;
    color: #eeeeee;
}
/* <-------------------------------footer-------------------------------------> */
#footer{
    /* border: 2px solid blue; */
    margin: auto;
}
#icons>#iconsA{
    width: 30%;
    display: flex;
    /* border: 2px solid blue; */
    margin: auto;
    padding: 0px 10px;
}
#iconsA>#social{
    padding:  0px 5px;
}
#iconsA>#social>i{
    padding: 0px 3px;
}
#icons>#iconsA>#pay>img{
    width: 30px;
    padding: 0px 5px;
}
#all_details1{
    /* border: 3px solid red; */
    display: flex;
    color: #666666;
    background-color: #eeeeee;
    /* justify-content: space-around; */
}
#details{
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-around;
}
#about{
    display: flex;
    color: #2D2D2D;
    justify-content: space-between;
    padding: 0px 30px;
}

@media only screen and (max-width: 900px) and (min-width: 501px) {
    #top1{
        display: none;
    }
    #navbar>#navbag input{
        display: none;
    }
    #nav2{
        display: none;
    }
}