*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
#top1{
    width: 100%;
    text-align: right;
    padding-right: 20px;
    background-color: #f8f8f8;
}
#top1>a>img{
    width: 13px;
    justify-content: end;
}
#top1>a{
    text-decoration: none;
    color: #666;
}
/* ----------------------top1--------------------------- */
#navbar>div>a>img{
    width: 120px;
    justify-content: center;
    margin-top: 10px;
}

#navbag>a{
    text-decoration: none;
    color: #f8f8f8;
    font-size: 25px;
}
#navbar{
    background-color: #2d2d2d;
    /* border: 2px solid red; */
    height: 60px;
    margin: auto;
    align-content: center;
}
#navbag{
    width: 80%;
    height: 100%;
    /* border: 2px solid white; */
    text-align: center;
    margin: auto;
    justify-content: space-between;
}
#navbag>input{
    width: 40%;
    border: 2px solid red;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 20px;
    border-radius: 20px;
}

#nav2{
    /* border: 1px solid red; */
    width: 100%;
    height: 40px;
    display: block;
    display: flex;
    margin: auto;
    background-color: #525050;
}
#nav2>#nav2a{
    /* border: 2px solid wheat; */
    margin: auto;
}
#nav2>#nav2a>button{
    border: none;
    font-size: 15px;
    font-family: sans-serif;
    background: none;
    color: #FFFFFF;
}
#nav2>#nav2a>#red{
    /* border: 2px solid whitesmoke; */
    height: 40px;
    background-color:#d01345;
    transform: skew(-12deg);
}
#globann{
    /* border: 1px solid; */
    display: flex;
}
#globann>#left{
    width: 100%;
    background-color: black;
    color: #FFFFFF;
    text-align: center;
}
#globann>#rigt{
    width: 100%;
    text-align: center;
}
/* ------------------nav-------------------------------- */
.global{
    background-image: linear-gradient(90deg, #26E066 0%, #F799BA 100%);
    text-align: center;
    padding: 20px;
}
.global>mark:nth-child(1){
    background-color: black;
    color: #eeeeee;
    padding: 5px 20px;
    font-weight: 600;
    border-radius: 20px;
}
.global>#one{
    /* border: 2px solid black; */
    margin: 0px;
    font-size: 48px;
    font-family:Helvetica,Arial,sans-serif;
    font-weight: 900;
    letter-spacing: 1.5px;
    line-height: 48px;
    font-style: italic;
}
.global>#two{
    font-family: Helvetica,Arial,sans-serif;
    font-size: 32px;
    margin: 5px;
    letter-spacing: 1.5px;
    font-weight: 900;
    font-style: italic;
    line-height: 32px;
}
.global>#three{
    font-size: 28px;
    letter-spacing: 1.2px;
    margin: 5px;
    font-weight: 700;
    line-height: 36px;
    font-style: normal;
}
.global>#four{
    font-size: 24px;
    letter-spacing: 1.2px;
    font-weight: 700;
    line-height: 30px;
    margin: 5px;
}
.global p:last-child{
    font-size: 12px;
    letter-spacing: .8px;
    font-weight: 400;
    line-height: 16px;
}
.global mark:last-child{
    border: 2px solid;
    padding: 3px;
    background-color: transparent;
}
/* --------------------------global banner------------------- */
#hero{
    width: 100%;
    background-image: url("https://content.asos-media.com/-/media/homepages/mw/2023/march/27-prime/basics-hero/new/heros/en/still/homepage_desktop_2880x700.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    /* margin: 0% 5%; */
    padding: 20px;
}
#hero>div{
    width: 20%;
    border: 2px solid;
    height: 500px;
}
#hero>#hero_holder{
    box-sizing: border-box;
    width: 40%;
    height: 100%;
    border: 3px solid transparent;
    margin: auto;
}
#hero>#hero_holder>#hero_buttons{
    /* border: 2px solid brown; */
    margin-top: 70%;
}
#hero>#hero_holder>#hero_buttons>a{
    text-decoration: none;
    /* border: 2px solid red ; */
    background-color: black;
    color: #FFFFFF;
    padding: 10px;
    top: 50%;
}
#hero>#hero_holder>#hero_buttons>a:hover{
    background-color: #fff;
    color: black;
    border: 2px solid;
    font-weight: 700;
}
/* ----------------------------hero--------------------------------- */
#proshow{
    width: 75%;
    /* border: 2px solid #0000ff; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    margin: 10px auto;
    text-align: center;
}
#proshow>div>img{
    width: 100%;
}
#proshow>div>h4{
    margin: 5px;
    /* font-size: 18px; */
}
#proshow>div>p{
    margin: 5px;
    /* font-size: 18px; */
}
/* ---------------------------------proshow----------------------------- */
#car{
    /* border: 2px solid blue; */
    background-color: #9cf0e0;
    text-align: center;
    padding: 8px;
}
#sty{
    /* border: 2px solid; */
    width: fit-content;
    background-color: #fff;
    color: black;
    font-weight: 600;
    padding: 7px;
    display: block;
    margin: 30px auto;
}
.carousel{
    /* border: 2px solid; */
    width: 70%;
    margin: auto;
}
.carousel-cell {
    width: 25%;
    height: auto;
    margin-right: 10px;
    background: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    counter-increment: carousel-cell;
}
.carousel-cell>img{
    width: 100%;
}
.carousel-cell>h5{
    /* border: 2px solid; */
    margin: 4px 0px 0px 0px;
    padding-left: 5px;
}
.carousel-cell p{
    color: #666666;
    padding-left: 5px;
}

.carousel-cell.is-selected {
    background: white;
}

  /* cell number */
.carousel-cell:before {
    display: block;
    text-align: center;
    /* content: counter(carousel-cell); */
    line-height: 200px;
    font-size: 80px;
    color: white;
}
/* -----------------------------------proshow2------------------------------- */
#proshow2{
    width: 65%;
    /* border: 2px solid blue; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    margin: auto;
}
#proshow2>div{
    margin: 20px 0px;
    /* border: 2px solid saddlebrown; */
    text-align: center;
}
#proshow2>div>img{
    width: 100%;
}
#proshow2 p{
    color: #666;
}
#proshow2>div>button{
    border: 2px solid;
    background-color: white;
    padding: 10px;
    font-weight: 600;
}
#proshow2>div button:hover{
    background-color: black;
    color:white;
}

/* --------------------------------------------------------------------- */
#bann{
    background-image: url("https://content.asos-media.com/-/media/homepages/unisex/homepages/2022/07_july/premier-re-brand/live-assets/desktop-banner-2880x320_compress.png");
    /* background-color: #cccccc; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 10px;
}
#bann>img{
    margin: 10px;
}
#bann>p>span{
    font-size: 20px;
    font-weight: 600;
    margin: 0px;
    padding: 5px;
}
#bann>#last{
    font-size: 12px;
}
/* ----------brands------------------------------ */
#brands{
    /* border: 1px solid red; */
    text-align: center;
}
.tbrands{
    width: 80%;
    margin: auto;
    /* border: 2px solid blue; */
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(6,1fr);
}
.tbrands>img{
    /* border: 1px solid; */
    width: 100%;
}
/* --------------Top MEns Category--------------------- */
#categ h2{
    /* border: 2px solid red; */
    text-align: center;
}
.cat{
    /* border: 1px solid red; */
    width: 70%;
    display: flex;
    color: #666666;
    font-size: 16px;
    margin: auto;
    padding: 0px 20px;
}
/* <-------------------------bot-----------------------------> */
#bot{
    /* border: 3px solid blue; */
    text-align: center;
    width: 40%;
    margin: auto;
    padding: 20px;
    color: #666666
}
/* <------------------footer----------------------------> */
#footer{
    /* border: 2px solid blue; */
    margin: auto;
}
#icons>#iconsA{
    width: 30%;
    display: flex;
    /* border: 2px solid blue; */
    margin: auto;
    padding: 0px 10px;
}
#iconsA>#social{
    padding:  0px 5px;
}
#iconsA>#social>i{
    padding: 0px 3px;
}
#icons>#iconsA>#pay>img{
    width: 30px;
    padding: 0px 5px;
}
#all_details1{
    /* border: 3px solid red; */
    display: flex;
    color: #666666;
    background-color: #eeeeee;
    /* justify-content: space-around; */
}
#details{
    width: 60%;
    display: flex;
    margin: auto;
    justify-content: space-around;
}
#about{
    display: flex;
    color: #2D2D2D;
    justify-content: space-between;
    padding: 0px 30px;
}

